<nav>
    <a href="/">Home</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <a href="/christmas">Christmas</a>
    <a href="/birthday">Birthday</a>
</nav>