* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    color: white;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;
}

.input_section, .search_section, .book_shelf {
    margin-bottom: 20px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
}

.input_section > h2, .search_section > h2, .book_shelf > h2 {
    text-align: center;
    color: cornflowerblue;
}

.input_section > form > .input, .search_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button, .search_section > form > button {
    background-color: cornflowerblue;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input, .search_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
}

.input_section > form > .input > label, .search_section > form > .input > label {
    color: cornflowerblue;
    font-weight: bold;
}

.input_section > form > .input_inline, .search_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label, .search_section > form > .input_inline > label {
    color: cornflowerblue;
    font-weight: bold;
    margin-right: 10px;
}

.search_section > form {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
}

.search_section > form > button {
    padding: 8px;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: darkgreen;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: darkred;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .blue {
    background-color: darkblue;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .yellow {
    background-color: darkgoldenrod;
    color: white;
}

@media only screen and (max-width: 768px) {
    main {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    main {
        width: 100%;
    }

    .book_shelf {
        padding: 10px;
    }
}